.header{
    background-color: white;
    
 
   
}  
.list{
    display: inline-flex;

  margin-top: 8px;
  

}

.image1{
    width: 25px;
    
    margin-left: 13px;
    padding-top: 10px;
    
    

    


}
.paragraph{
    padding-left: 10px;
    padding-top: 20px;
    

}
.list2{
    display: inline-flex;
    padding-top: 8px;
    
    
    
}
button{
    margin: 3px;
    height: 35px;
    width: 100px;
       
}
.header2{
    background-color: azure ;
   
    
    
}
.image2{
    width: 40%;
    padding-top: 15px;
     margin-left: 150px;
}
nav{
    margin-top: 15px;
    margin-left: 150px;
    
    
}

ul li:hover{
    background-color: #316DC3;
    color: white;
    border-radius: 50px;
    
}
.paragraph2{
    
    
    margin-top: 12px; 
   
     color: white; 
}

.list3{
    display: inline-flex;
    padding-top: 8px;
    margin-left: 13px;
    
    
    
}
.white-text{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.animate-number{
    color: white;
 padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.blue-text{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.green-text{
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    .box-shadow{
        padding:35px;
        margin-top: 30px;
        margin-bottom:30px;
        background-color:#fff!important;
        box-shadow:0 8px 20px 0 rgba(0,0,0,.16);}
.img-responsive{
    width: 20%;
    height: 40%;

    display: inline-flex;
    

}
.media-body{
    width: 500px;
    color: #316DC3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
     
    padding-right: 20px;
}


.icon-box.left {
    text-align: left;
}





